.cardContent:hover{
        >.bgImg{
            transform: scale(1.2);
            transition: transform 0.3s ease-in-out;
            -webkit-transition: -webkit-transform 0.3s ease-in-out;
            -moz-transition: -moz-transform 0.3s ease-in-out;
            -o-transition: -o-transform 0.3s ease-in-out;
        }
    }
