// Header.module.scss

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3271a5;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color:white;
  }
  
  .nav {
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
      margin: 0;
      padding: 0;
      li {
        position: relative;
        cursor: pointer;
  
        .navLink {
          color: white;
          transition: color 0.3s ease, transform 0.3s ease;
  
          &:hover {
            color: white;
          }
  
          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: white;
            transform-origin: bottom left;
            transition: width 0.3s ease;
          }
  
          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }
  
  .dropdown {
    position: relative;
    .dropdownContent {
        display: none;
        position: absolute;
        background-color: #fff; // Customize the background color
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); // Add a box shadow for styling
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s ease-in-out; 
        width: 200px;

        a {
          color: black; // Customize the text color
          padding: 12px 16px;
          text-decoration: none;
          display: block;

          &:hover {
            background-color: #f1f1f1; // Background color on hover
          }
        }
      }

      &:hover {
        .dropdownContent {
          display: block;
          opacity: 1;
        }
      }
  }
  
  .outlinedButton {
    border: 2px solid white;
    color:white;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .filledButton {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  // Add more styles as needed
  