.slider {
    position: absolute;
    right: -750px;
    top: 50%;
    right:0;
    transform: translateY(-50%);
    display: flex;
    gap:30px;
    flex-direction: row;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9;
  }
  
  
  .picture {
    border-radius: 5px;
    width: 200px; /* Set your desired width */
    height: 300px; /* Set your desired height */
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    opacity: .6;
  }
  
  .picture.active {
    opacity: 1;
    transform: scale(1.2);
    margin-left: 10px;
    margin-right: 10px;
  }
.wrapper{
    background-color: red;
    width: 100%;
}