.sliderContainer {
    overflow: hidden;
    width: 40%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(30%);
    z-index: 1;
    padding: 50px 10px;
  }
  
  .picture {
    border-radius: 5px;
    width: 200px; 
    height: 200px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    opacity: .8;
    
      
      .title{
        display: none;
        background-color: black;
        opacity: .6;
        width: 60%;
        position: absolute;
        padding: 3px;
        color: white;
        bottom: 20%;
        right: 0;
        text-align: start;
        padding-left: 20px;
        border-radius: 5px 0 0 5px;
       
      }
      &.active{
        transform: scale(1.1);
        opacity: 1;
        .title{
            display: block;
           
        }
      }
  }
  .picture:hover {
    transform: scale(1.1);
    opacity: 1;
    .title{
        display: block;
       
    }
  }
  