.background {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    height: 100vh;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    
  }
  
  .fadeIn {
    opacity: 1;
  }
  
  .fadeOut {
    opacity: .8;
  }

  .overlay {
    position: fixed;
    
    right: 0;
    bottom: 0;
    height: 23%;
    width: 20%; /* Adjust the width as needed */
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    z-index: 1; /* Ensure the overlay is above other content */
    @media (max-width: 767px) {
      background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));

    }
  }

  .description{
    position: absolute;
    bottom: 160px;
    left: 0;
    @media (max-width: 767px) {
      scale:.9;
      bottom: 300px;
      left:-25px;
    }
  }
 
  .propertyFinder{
    color:white;
    padding: 30px;
    position: absolute;
    top: 20%;
    left: 50px;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.2); // Add more box-shadow 
    .searchField{
      width: 100%;
    }
    border-radius: 0 20px 0 20px ;
    @media (max-width: 767px) {
      left: 5px;
      top:10%;
      scale:.9
    }
  
  }
  .propertyDetails{
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 0 20px 20px 0;
  }