.leftPane {
    width: 50%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    @media (max-width: 767px) {
      width: 100%;
      position: relative;
    }
    
  }
  
  .slider1 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  
    .slick-slide {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  
      
    }
  }
  .backgroundImageContainer {
    width: 100%;
    height: 90lvh;
    overflow: hidden;
    object-fit: cover;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // Change this to 'cover' if you want to maintain the aspect ratio
    }
  }
  .thumbnailContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }
  .slider2 {
    width: 100%;
  }
  .thumbnailImageContainer {
    height: 15lvh;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
        object-fit: cover; // Change this to 'cover' if you want to maintain the aspect ratio
      }
}


  